<!-- css权威指南第七章demo -->
<template data-label="行内元素的行框">
    <style>
       div {
           width: 100%;
           text-align: center;
       }
       em {
           font-size: 50px;
       }
       span {
           border: 1px dashed black;
           padding: 30px 0;
           vertical-align: middle;
       }
       
    </style>
    <div>
        <em>你好</em>
        <span>dsada ds asd  ad dasda  dsa</span>           
            <span>dsadad sasdad das dad sa</span>
        <span>ds ada dsasd addasd adsa</span>
    </div>
</template>